<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<title>springboot</title>
		<link rel="stylesheet" type="text/css" href="../itsoftui/plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../itsoftui/css/itsoftui.css "/>
		<link rel="stylesheet" type="text/css" href="../common/css/index.css"/>
		<style type="text/css">
			.section {
				height: 100%;
			}
		</style>
	</head>
	<body>
		<div class="section">
			<div class="left-menu">
				<h3 class="title" id="leftMenuInitPage" sls-href="home.html">
					<span>个人中心管理</span>
				</h3>
				<div id="leftMenu">
					<ul>
						<li class="left-menu-first">
							<a href="javascript:;" sls-href="demand/index.html">
								<i class="icon-left-menu icon-xqjh"></i>
								<span>栏目一</span>
							</a>
						</li>
						<li class="left-menu-first">
							<a href="javascript:;" sls-href="procurement/index.html" >
								<i class="icon-left-menu icon-cggl"></i>
								<span>栏目二</span>
							</a>
						</li>
						<li class="left-menu-first">
							<a href="javascript:;" sls-href="Supply_ment/index.html">
								<i class="icon-left-menu icon-gygl"></i>
								<span>栏目三</span>
							</a>
						</li>
						<li class="left-menu-first">
							<a href="javascript:;"  sls-href="hotelManagement/index.html">
								<i class="icon-left-menu icon-kcct"></i>
								<span>栏目四</span>
							</a>
						</li>
						<li class="left-menu-first">
							<a href="javascript:;" sls-href="holidays/index.html">
								<i class="icon-left-menu icon-dcgl"></i>
								<span>栏目五</span>
							</a>
						</li>
						<li class="left-menu-first">
							<a href="javascript:;" sls-href="Temporary/index.html">
								<i class="icon-left-menu icon-xfpj"></i>
								<span>栏目六</span>
							</a>
						</li>
						<li class="left-menu-first">
							<a href="javascript:;" sls-href='safety/safety.html'>
								<i class="icon-left-menu icon-wzgl"></i>
								<span>栏目七</span>
							</a>
						</li>
						<li class="left-menu-first">
							<a href="javascript:;" sls-href='leaveSchool/index.html'>
								<i class="icon-left-menu icon-cptj"></i>
								<span>栏目八</span>
							</a>
						</li>
						<li class="left-menu-first">
							<a href="javascript:;" sls-href='comparison/index.html'>
								<i class="icon-left-menu icon-tjfx"></i>
								<span>统计分析</span>
							</a>
						</li>
						  <li class="left-menu-first">
							<a href="javascript:;" sls-href="system/index.html">
								<i class="icon-left-menu icon-xtgl"></i>
								<span>系统管理</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="main-content">
				<iframe id="slsSystemIframe" name="slsSystemIframe" src="home.html" style="width: 100%; height: 100%;" frameborder="0" framespacing="0"></iframe>
			</div>
		</div>
	</body>
	<script src="../../itsoftui/plugins/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../itsoftui/plugins/jquery.nicescroll/jquery.nicescroll.min.js"  type="text/javascript" charset="utf-8"></script>
	<script src="../../common/js/index.js"  type="text/javascript" charset="utf-8"></script>
	<script src="../../itsoftui/plugins/layer/layer.js" type="text/javascript"></script>
	<script src="../../itsoftui/js/itsoftui.js"  type="text/javascript" charset="utf-8"></script>
</html>
