<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <title>设置供应商</title>
    <link rel="stylesheet" href="../../../../static/itsoftui/plugins/bootstrap/css/bootstrap.css" th:href="@{${root}+'/itsoftui/plugins/bootstrap/css/bootstrap.css'}">
    <link rel="stylesheet" href="../../../../static/itsoftui/plugins/icheck/icheck.css" th:href="@{${root}+'/itsoftui/plugins/icheck/icheck.css'}">
    <link rel="stylesheet" href="../../../../static/itsoftui/css/itsoftui.css" th:href="@{${root}+'/itsoftui/css/itsoftui.css'}">
    <style>
    </style>
</head>
<body>
  <div class="wrap">
      <div class="itsoft-panel">
         <div class="itsoft-toolbar" >
             <div id="toolBtn" style="float: left" th:if="${status} == '1'"></div>
             <div id="toolSearch" style="float: right"></div>
         </div>
         <div id="datagrid"></div>
      </div>
  </div>
</body>
<script src="../../../../static/itsoftui/plugins/jquery-1.12.4.js" th:src="@{${root}+'/itsoftui/plugins/jquery-1.12.4.js'}"></script>
<script src="../../../../static/itsoftui/plugins/layer/layer.js" th:src="@{${root}+'/itsoftui/plugins/layer/layer.js'}"></script>
<script src="../../../../static/itsoftui/plugins/icheck/jquery.icheck.min.js" th:src="@{${root}+'/itsoftui/plugins/icheck/jquery.icheck.min.js'}"></script>
<script src="../../../../static/itsoftui/js/itsoftui.js" th:src="@{${root}+'/itsoftui/js/itsoftui.js'}"></script>
<script>
    var datagrid;
    var index=parent.layer.getFrameIndex(window.name);
  $(function () {
    //按钮
    $('#toolBtn').toolbarbtn({
        btn:[
            {
               text:'删除',
               title:'删除',
               icon:'iconfont-del2',
               click:function () {
                   addRow()
               }
             }
        ]
    });

    //搜索
    $('#toolSearch').toolbarsearch({
        width:'180px',
        placeholder:'供应商名称',
        searchEvent:function (val) {
           datagrid.refreshData({
               searchValue:val
           })
        }
    })


    //列表
      datagrid=$('#datagrid').datagrid({
        keyField: "id",
        page: false,
        url: '[[${root}]]/api/v2/dining/manage/diningSupplier/getWarehouseMaterialSupplierListByStatus',
        type: 'post',
        line: "both",
        queryParams:{id:'[[${id}]]',status:'[[${status}]]'},
        isSequence: true,
        singleSelect: false,
        eventrow: false,
        click: function() {

        },
        dblclick: function() {

        },
        loadend: function(queryParams) {
            datagrid.iCheck()
        },
        columns:[
            {
                field:'id',
                isshow:false
            },{
                title: '名称',
                field: 'supplyName',
                align: "left",
                width: '300',
                widthfix:true,
                formatter:function () {
                }
            }
        ]
    });
    datagrid.loadData(0)

//点击确定
      function addRow() {
          var selectedRows=datagrid.getSelectedRows();
          if(selectedRows.length==0){
              parent.ITSOFT.tools.showMsg('error','请选择要删除的行');
              return false
          }
          var msgtxt = "确定要删除";
          if(selectedRows.length > 1) {
              msgtxt += "[选择的" + selectedRows.length + "条数据]吗？";
          } else {
              //提示字段要修改
              msgtxt += "[" + datagrid.getColumnText(selectedRows[0], "supplyName") + "]吗？";
          }
          parent.ITSOFT.itWin.confirm(msgtxt, function() {
              //在这里执行相关操作,可以批量传递key数组，也可以遍历分别操作
              parent.ITSOFT.dataAjax({
                  url: '[[${root}]]/api/v2/dining/manage/diningWarehouseMaterial/deleteWarehouseMaterialSupplier',
                  type: 'post',
                  data: {ids:selectedRows},
                  async: false,
                  beforeSend: function () {
                      loadingindex = parent.ITSOFT.itWin.msg("正在提交数据",16);
                  },
                  success: function (data) {
                      parent.ITSOFT.itWin.close(loadingindex);
                      if (data.errorCode == 0) {
                          parent.ITSOFT.tools.showMsg("ok", "已删除");
                          parent.datagrid.refreshData();
                          parent.ITSOFT.itWin.close(index);
                      } else {
                          parent.ITSOFT.tools.showMsg("error", data.message);
                          return false;
                      }
                  },
                  error: function () {
                      parent.ITSOFT.itWin.close(loadingindex);
                      parent.ITSOFT.tools.showMsg("error", data.message);
                  },
                  complete: function () {
                      parent.ITSOFT.itWin.close(loadingindex);
                  }
              });
          });
      }


  })
</script>
</html>