<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <title>原料管理</title>
    <link rel="stylesheet" href="../../../../static/itsoftui/plugins/bootstrap/css/bootstrap.css" th:href="@{${root}+'/itsoftui/plugins/bootstrap/css/bootstrap.css'}">
    <link rel="stylesheet" href="../../../../static/itsoftui/plugins/icheck/icheck.css" th:href="@{${root}+'/itsoftui/plugins/icheck/icheck.css'}">
    <link rel="stylesheet" href="../../../../static/common/css/indexBase.css" th:href="@{${root}+'/common/css/indexBase.css'}">
    <link rel="stylesheet" href="../../../../static/itsoftui/css/itsoftui.css" th:href="@{${root}+'/itsoftui/css/itsoftui.css'}">
    <style>
        .main_Lt{
            width: 230px;
            float: left;
            height: 100%;
        }
        .main_Rt{
            margin-left: 235px;
        }
        .dropdownlist{
            border:1px solid #ccc;
            float: left;
            margin-top: 5px;
        }
        .handle{
            color: #2e8ded;
            cursor: pointer;
        }
        .selectrow .handle{
            color: #fff;
        }
    </style>
</head>
<body>
<div class="pd-10 wrap">
    <div class="wrap-top">
        <p style="color: #737373;float: left;">系统管理->原料管理</p>
        <p id="closeBtn" style="float: right;"></p>
    </div>
    <div class="wrap-bd">
        <div class="itsoft-panel">
            <div class="main_Lt">
                <div class="itsoft-toolbar">
                    <div id="toolBtnLt"></div>
                </div>
                <div class="itsoft-datagrid" style="border-top: 0">
                    <div id="dataTree"></div>
                </div>
            </div>
            <div class="main_Rt">
                <div class="itsoft-toolbar">
                    <div id="toolBtnRt"></div>
                    <div class="dropdownlist" id="supplySelect" name="supplySelect"></div>
                    <div id="toolSearch" style="float: right"></div>
                </div>
                <div class="itsoft-datagrid" style="border-top:0">
                 <div id="datagrid"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../../../static/itsoftui/plugins/jquery-1.12.4.js" th:src="@{${root}+'/itsoftui/plugins/jquery-1.12.4.js'}"></script>
<script src="../../../../static/itsoftui/plugins/layer/layer.js" th:src="@{${root}+'/itsoftui/plugins/layer/layer.js'}"></script>
<script src="../../../../static/itsoftui/plugins/icheck/jquery.icheck.min.js" th:src="@{${root}+'/itsoftui/plugins/icheck/jquery.icheck.min.js'}"></script>
<script src="../../../../static/itsoftui/js/itsoftui.js" th:src="@{${root}+'/itsoftui/js/itsoftui.js'}"></script>
<script>
    var index=parent.layer.getFrameIndex(window.name);
    var datagrid,dataTree,typeName='';
    var loadingindex;
    var materialTypeId = '';
    var materialTypeName = '';
    var textName = '';
    var exportdata = "";//选择列
    var url = "";//导出地址
    var search = '';
    var supplyId = '';
   $(function () {
       //关闭按钮
       $('#closeBtn').toolbarbtn({
           btn:[
               {
                   text:'',
                   title:'关闭',
                   width:'35px',
                   icon:'iconfont-close',
                   click:function () {
                       parent.ITSOFT.itWin.close(index);
                   }
               }
           ]
       });

        $('#toolBtnLt').toolbarbtn({
             btn:[
               {
                 text:'添加',
                 title:'添加',
                 icon:'iconfont-add',
                 click:function () {
                   addRowLt()
                 }
               },{
                 text:'编辑',
                 title:'编辑',
                 icon:'iconfont-edit',
                 click:function () {
                   editRowLt()
                 }
               },{
                 text:'删除',
                 title:'删除',
                 icon:'iconfont-del2',
                 click:function () {
                   delRowLt()
                 }
               }
             ]
        });

        dataTree= $('#dataTree').itsofttree({
           url:'[[${root}]]/api/v2/dining/manage/diningMaterialType/diningMaterialTypeTreeList',
           type: "post",
            root: ['root','所有类型'], //根节点 如['root','根节点']
           click:function (val,text) {
               if (typeName != val) {
                   typeName = val;
                   var queryParams = {};
                   queryParams.materialTypeId = val;
                   datagrid.refreshData(queryParams);
                   materialTypeId = val;
                   materialTypeName = text;

               }
           }
        });


        $('#toolBtnRt').toolbarbtn({
          btn:[
            {
              text:'刷新',
              title:'刷新',
              icon:'iconfont-huanyipi',
              click:function () {
                   datagrid.loadData(0)
              }
            },
            {
              text:'添加',
              title:'添加',
              icon:'iconfont-add',
              click:function () {
                  addRowRt()
              }
            },
            {
              text:'编辑',
              title:'编辑',
              icon:'iconfont-edit',
              click:function () {
                  editRowRt()
              }
            },
            {
              text:'删除',
              title:'删除',
              icon:'iconfont-del2',
              click:function () {
                   delRowRt()
              }
            },
            {
              text:'导出',
              title:'导出',
              icon:'iconfont-daochu',
              click:function () {
                  exportWin()
              }
            },
          ]
        });

       //餐厅状态下拉
       var supplySel = $('#supplySelect').dropdownlist({
           type:"post",
           dataurl:'[[${root}]]/api/v2/dining/manage/diningSupplier/diningSupplierSelect',
           placeholder:'请选择供应商',
           width:'160px',
           changeEvent:function (val,text) {
               if (textName != val){
                   textVal = val;
                   textName = text;
                   var queryParams = {};
                   queryParams.supplyId = val;
                   datagrid.refreshData(queryParams);
                   supplyId = val;
               }
           }
       });

        //搜索
        $('#toolSearch').toolbarsearch({
          width:'200px',
          placeholder:'编码/拼音码/名称',
          searchEvent:function (val) {
              var queryParams = {};
              queryParams.searchValue = val;
              datagrid.refreshData(queryParams)
          }
        });

        //列表
       datagrid=$('#datagrid').datagrid({
         keyField: "id",
         page:true,
         url: '[[${root}]]/api/v2/dining/manage/diningMaterial/diningMaterialList',
         type: 'post',
         line: "both",
         isSequence: true,
         singleSelect: false,
         eventrow: false,
         click: function() {

         },
         dblclick: function() {
             editRowRt();
         },
         columns:[
           {
             field:'id',
             isshow:false
           },{
             title: '类别',
             field: 'typeName',
             align: "center",
             width: '120',
             formatter:function () {

             }
           },
           {
             title: '名称',
             field: 'name',
             align: "left",
             width: '100',
             formatter:function () {

             }
           },
           {
             title: '编码',
             field: 'number',
             align: "center",
             width: '100',
             formatter:function () {
             }
           },
           {
             title: '条码',
             field: 'barCode',
             align: "center",
             width: '100',
             formatter:function () {
             }
           },
           {
             title: '拼音码',
             field: 'spell',
             align: "center",
             width: '130',
             formatter:function () {
             }
           },
           {
             title: '规格',
             field: 'specification',
             align: "center",
             width: '100',
             formatter:function () {
             }
           },
           {
             title: '单位',
             field: 'unit',
             align: "center",
             width: '100',
             formatter:function () {
             }
           },
           {
             title: '品牌',
             field: 'brand',
             align: "center",
             width: '130',
             formatter:function () {
             }
           },
           {
             title: '核算单位',
             field: 'accountingUnit',
             align: "center",
             width: '130',
             formatter:function () {
             }
           },
           {
             title: '净料率',
             field: 'materialRate',
             align: "center",
             width: '130',
             formatter:function () {
             }
           },
           {
             title: '净料要求',
             field: 'materialRemark',
             align: "center",
             width: '130',
             formatter:function () {
             }
           },
           {
             title: '保质期',
             field: 'warranty',
             align: "center",
             width: '130',
             formatter:function () {
             }
           },
           {
             title: '编辑人',
             field: 'updateUser',
             align: "center",
             width: '130',
             formatter:function () {
             }
           },
           {
             title: '编辑时间',
             field: 'updateTimeValue',
             align: "center",
             width: '130',
             formatter:function () {
             }
           },
           {
             title: '备注',
             field: 'remark',
             align: "left",
             width: '100',
             widthfix:true,
             formatter:function () {
             }
           },
         ]

       })

       datagrid.loadData(0)


     //左侧类别添加
     function addRowLt() {
         if(materialTypeId.length == 0){
             ITSOFT.tools.showMsg('error','请选择父级类型');
             return false
         }
          ITSOFT.itWin.open({
            title:'添加原料类别',
            area:['400px','300px'],
            content:['[[${root}]]/redirect/system/addMaterialType?materialTypeId='+materialTypeId+'&materialTypeName='+materialTypeName,'no']
          })
     };
     //左侧类别编辑
     function editRowLt() {
        if(materialTypeId.length == 0){
          ITSOFT.tools.showMsg('error','请选择要编辑的类别名称');
          return false
        }
          ITSOFT.itWin.open({
             title:'编辑原料类别',
              area:['400px','300px'],
              content:['[[${root}]]/redirect/system/addMaterialType?id='+materialTypeId,'no']
          })
     }

     //删除
     function delRowLt() {
        if(materialTypeId.length == 0){
            ITSOFT.tools.showMsg('error','请选择要删除的类别名称');
            return false
        }
        if(materialTypeId == 'root'){
            ITSOFT.tools.showMsg('error','根节点无法删除');
            return false
        }
        var node = dataTree.getSelectNodeValue().value;
        ITSOFT.itWin.confirm("确定要删除" + dataTree.getSelectNodeValue().text + "吗？",function() {
             ITSOFT.dataAjax({
                 url: '[[${root}]]/api/v2/dining/manage/diningMaterialType/deleteDiningMaterialType',
                 type: 'post',
                 data: {id:node},
                 async: false,
                 beforeSend: function () {
                     loadingindex = ITSOFT.itWin.msg("正在提交数据",16);
                 },
                 success: function (data) {
                     ITSOFT.itWin.close(loadingindex);
                     if (data.errorCode == 0) {
                         ITSOFT.tools.showMsg("ok", "已删除");
                         //执行成功后删除tree数据
                         dataTree.deleteNode(node)
                     } else {
                         ITSOFT.tools.showMsg("error", data.message);
                         return false;
                     }
                 },
                 error: function () {
                     ITSOFT.itWin.close(loadingindex);
                     ITSOFT.tools.showMsg("error", data.message);
                 },
                 complete: function () {
                     ITSOFT.itWin.close(loadingindex);
                 }
             });
         });
     }

     //右侧添加
     function addRowRt() {
         // if(materialTypeId.length == 0){
         //     ITSOFT.tools.showMsg('error','请选择要原料类别');
         //     return false
         // }
        ITSOFT.itWin.open({
            title:'添加原料',
            area:['620px','550px'],
            content:['[[${root}]]/redirect/system/addMaterial?materialTypeId='+materialTypeId+'&materialTypeName='+materialTypeName,'no']
        })
     }
     //右侧编辑
    function editRowRt() {
        var row=datagrid.getSelectedRow()
        var id = datagrid.getColumn(row,'id');
        if(row.length==0){
        ITSOFT.tools.showMsg('error','请选择要编辑的行');
        return false
        }
        ITSOFT.itWin.open({
            title:'编辑原料',
            area:['620px','550px'],
            content:['[[${root}]]/redirect/system/addMaterial?id='+id+'&materialTypeId='+materialTypeId+'&materialTypeName='+materialTypeName,'no']
        })
    }

     //删除

     function delRowRt() {
         //获取选中行
         var selectedRows = datagrid.getSelectedRows();
         if(selectedRows.length == 0) {
             ITSOFT.tools.showMsg("error", "请选择要删除的行");
             return false;
         }
         var msgtxt = "确定要删除";
         if(selectedRows.length > 1) {
             msgtxt += "[选择的" + selectedRows.length + "条数据]吗？";
         } else {
             //提示字段要修改
             msgtxt += "[" + datagrid.getColumnText(selectedRows[0], "name") + "]吗？";
         }
         ITSOFT.itWin.confirm(msgtxt, function() {
             //在这里执行相关操作,可以批量传递key数组，也可以遍历分别操作
             ITSOFT.dataAjax({
                 url: '[[${root}]]/api/v2/dining/manage/diningMaterial/deleteDiningMaterial',
                 type: 'post',
                 data: {ids:selectedRows},
                 async: false,
                 beforeSend: function () {
                     loadingindex = ITSOFT.itWin.msg("正在提交数据",16);
                 },
                 success: function (data) {
                     ITSOFT.itWin.close(loadingindex);
                     if (data.errorCode == 0) {
                         ITSOFT.tools.showMsg("ok", "已删除");
                         $(selectedRows).each(function(i,val) {
                             //执行成功后删除datagrid数据
                             datagrid.deleteRow(val);
                         });
                     } else {
                         ITSOFT.tools.showMsg("error", data.message);
                         return false;
                     }
                 },
                 error: function () {
                     ITSOFT.itWin.close(loadingindex);
                     ITSOFT.tools.showMsg("error", data.message);
                 },
                 complete: function () {
                     ITSOFT.itWin.close(loadingindex);
                 }
             });
         });
     }
       //导出
       $('#datagrid').find('.datagrid-header').find('.header-rows').find('td').each(function (i) {
           var field=$(this).attr('field');
           var value=$(this).text();
           if(i>2){
               exportdata+=field+","+value+";";
           }
       })

       function exportWin() {
           ITSOFT.itWin.open({
               area:['350px','500px'],
               closeBtn:1,
               content:['[[${root}]]/api/v2/dining/excelUtils/chooseFieldsExport','no']
           })
       }
   });
    //导出
    function exportData(data,index) {
        ITSOFT.itWin.close(index);
        url = '[[${root}]]/api/v2/dining/excelUtils/diningMaterialExport?search='+search+'&supplyId='+supplyId+'&materialTypeId='+materialTypeId+'&fields='+data;
        top.window.location=encodeURI(url);
    }
</script>
</html>